<div class="container mt-5 d-flex justify-content-center">
    <div
        style="width: 500px; padding: 15px; background-color: azure; border: 2px; border-color: black; border-style: solid;">

        <h1>Cartão - 12345</h1>
        <h2>Bruno</h2>
        <h3>Fatura: R$ 150,75 - Limite: R$ 500,00</h3>
        <div class="row">
            <div class="col-md-6 mt-3">
                <button class="btn btn-primary">Pagar Fatura</button>
            </div>
            <div class="col-md-6 mt-3">
                <button class="btn btn-primary">Comprar com cartão</button>
            </div>
        </div>
    </div>
</div>