<div class="container paginainicialcontainer">
    <h1>Bem vindo ao Camolesi Banking International</h1>
    <h3 class="titulo1pagini">Vem ser cliente e aproveite os benefícios do BCI</h3>
    <div class="row mt-5">
        <div class="col-md-6">
            <h4>Abertura Digital</h4>
            <p>De qualquer lugar, abra sua conta com poucos cliques</p>
        </div>
        <div class="col-md-6">
            <h4>Tudo pelo app</h4>
            <p>Todos os nossos produtos e serviços na palma da mão</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Segurança</h4>
            <p>Conte com a segurança que o Banco do Brasil pode oferecer</p>
        </div>
        <div class="col-md-6">
            <h4>Conveniência</h4>
            <p>Conte com o apoio da nossa rede de agências no seu dia a dia</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3 py-3">
            <div class="card" style="width: 18rem;height: 200px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Conta Corrente BCI</h5>
                    <p class="card-text">Completa e com abertura 100% digital</p>
                    <a href="#" class="btn btn-primary mt-auto">VEM SER CLIENTE</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card" style="width: 18rem;height: 200px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Cartão de Crédito</h5>
                    <p class="card-text">Aproveite as vantagens de ter um Ourocard</p>
                    <a href="#" class="btn btn-primary mt-auto">Peça já o seu</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card" style="width: 18rem;height: 200px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Empréstimo</h5>
                    <p class="card-text">Cliente BB tem linhas de crédito com condições diferenciadas de pagamento</p>
                    <a href="#" class="btn btn-primary mt-auto">SIMULE AQUI</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card" style="width: 18rem;height: 200px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Investimento</h5>
                    <p class="card-text">Invista em seus sonhos, do seu jeito, com zero complicação</p>
                    <a href="#" class="btn btn-primary mt-auto">SAIBA MAIS</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3">
            <div class="card" style="width: 18rem;height: 200px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Loja BCI</h5>
                    <p class="card-text">Cashback, Gift Cards, Vantagens e Recarga de celular pra você</p>
                    <a href="#" class="btn btn-primary mt-auto">ACESSE A LOJA BCI</a>
                </div>
            </div>
        </div>
    </div>
</div>