<div class="container mt-5 d-flex justify-content-center">
    <div
        style="width: 500px; padding: 15px; background-color: azure; border: 2px; border-color: black; border-style: solid;">

        <h1>Conta - 12345</h1>
        <h2>Bruno</h2>
        <h3>Saldo: R$ 300,22</h3>
        <div class="row">
            <div class="col-md-2 mt-3">
                <button class="btn btn-primary">Sacar</button>
            </div>
            <div class="col-md-3 mt-3">
                <button class="btn btn-primary">Depositar</button>
            </div>
            <div class="col-md-2 mt-3">
                <a href="/transferencia" class="btn btn-primary"> Transferir</a>
            </div>
        </div>
    </div>
</div>