<div class="container mt-5 d-flex justify-content-center">
    <div
        style="width: 500px; padding: 15px; background-color: azure; border: 2px; border-color: black; border-style: solid;">

        <h1>Conta - {{conta.numeroConta}}</h1>
        <h2>{{conta.titular}}</h2>
        <h3>Saldo: R$ {{conta.saldo}}</h3>
        <div class="row">
            <div class="col-md-2 mt-3">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                data-bs-whatever="@mdo">Sacar</button>
            </div>
            <div class="col-md-3 mt-3">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@mdo">Depositar</button>
            </div>
            <div class="col-md-2 mt-3">
                <a href="/transferencia" class="btn btn-primary"> Transferir</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " style="width: 300px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sacar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="movimentar()">
                <div class="modal-body ">
                    <input name="booleanSacar" [(ngModel)]="sacar" type="hidden" value="true">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Valor do Saque:</label>
                        <input name="contaDestino" type="number" [(ngModel)]="valor" class="form-control"
                            id="recipient-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Sacar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " style="width: 300px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Depositar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="movimentar()">
                <div class="modal-body ">
                    <input name="booleanSacar" [(ngModel)]="sacar" type="hidden" value="false">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Valor do Depósito:</label>
                        <input name="contaDestino" type="number" [(ngModel)]="valor" class="form-control"
                            id="recipient-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Depositar</button>
                </div>
            </form>
        </div>
    </div>
</div>